body {
    font-family: Arial;
    background: #f6f8fa;
    margin: 0;
}

nav {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, select, button {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.product {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}
